.opcao-x {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px;
}

.opcao-x::before,
.opcao-x::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px; /* cross thickness */
    background-color: black;
}

.opcao-x::before {
    transform: rotate(45deg);
}

.opcao-x::after {
    transform: rotate(-45deg);
}

.opcao-o {
    border: solid 1px;
    border:4px solid black;    
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;

    height: 85%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 85%;
    top: 0px;
    left: 7%;
    position: relative;
    top: 7%;
}